/* Basic Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary-30); /* Setze den Hintergrund auf die definierte Farbe */
  color: var(--text-primary); /* Setze den Text auf die definierte Farbe */
}

body {
  background: var(--primary-10); 
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Custom Properties */
:root {
  --primary-10: #0b0c0d;
  --primary-20: #212326;
  --primary-30: #373b40;
  --primary-35: #40444a;
  --primary-40: #4d5259;
  --primary-50: #646a73;
  --accent-20: #345057;
  --accent-30: #537f8a;
  --accent-40: #71aebd;
  --accent-50: #90ddf0;
  --primary-main: #000000; 
  --primary-light: #63a4ff;
  --primary-dark: #004ba0;
  --secondary-main: #dc004e;
  --secondary-light: #ff616f;
  --secondary-dark: #9a0036;
  --error-main: #f44336;
  --warning-main: #ff9800;
  --info-main: #2196f3;
  --success-main: #4caf50;
  --background-default: black; /* Verwende einen dunklen Hintergrund */
  --text-primary: #ffffff; /* Weißer Text für dunklen Hintergrund */
  --text-secondary: #aaaaaa; /* Hellgrauer Text für sekundäre Inhalte */
  /* Weitere Farben nach Bedarf hinzufügen */
}
.price {
  color: var(--text-primary) !important;
}